body {
  padding: 30px;
}

.ticker-box {
  margin-right: 0;
  margin-left: 0;
  max-width: 12em;
  background-color: #f6f6f6;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0 0 2px gold;
  box-shadow: 0 0 2px gold;
  border-style: solid;
}

.ticker-name {
  background: #eee;
  padding-top: 5px;
  border-top: 1px solid #bbb;
}

.ticker-prices span {
  font-size: 0.9em;
  padding: 2px 0;
}

.ticker-green {
  background: rgba(24, 255, 24, 0.5);
}

.ticker-red {
  background: rgba(255, 0, 0, 0.45);
}

.ticker-date {
  margin: 2px;
}

.table-small {
  width: auto !important;
}

.table-small > thead > tr > th,
.table-small > tbody > tr > td {
  font-size: 0.9em;
  padding: 3px 5px;
}

.clearfloor-bid {
  width: 120px;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.toggle-group.disabled, a.toggled {
  color: #333;
  background-color: #dadada;
  border-color: #acacac;
  opacity: 1;
}