body {
  padding: 30px;
}

.btn:focus, .btn:active:focus {
  outline: none;
}

.ticker-box {
  margin-right: 0;
  margin-left: 0;
  max-width: 12em;
  background-color: #f6f6f6;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0 0 2px gold;
  box-shadow: 0 0 2px gold;
  border-style: solid;
}

.ticker-name {
  background: #eee;
  padding-top: 5px;
  border-top: 1px solid #bbb;
}

.ticker-prices span {
  font-size: 0.9em;
  padding: 2px 0;
}

.ticker-green {
  background: rgba(24, 255, 24, 0.5);
}

.ticker-red {
  background: rgba(255, 0, 0, 0.45);
}

.ticker-date {
  margin: 2px;
}

.table-small {
  width: auto !important;
}

.table-small > thead > tr > th,
.table-small > tbody > tr > td {
  font-size: 0.9em;
  padding: 3px 5px;
}

.clearfloor-bid {
  width: 120px;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.period-selected[disabled], .period-selected[disabled]:hover,
.fill-toggled, .fill-toggled:focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
  opacity: 1;
  box-shadow: inset 0 2px 3px rgba(140, 140, 140, 0.5)
}

.period-selected[disabled] {
  cursor: default;
}

.fill-toggled:hover {
  color: #222;
  background-color: #c1c1c1;
  border-color: #797979;
}

.fill-toggled:hover:active {
  color: #111;
  background-color: #afafaf;
  border-color: #666;
  box-shadow: inset 0 2px 3px rgba(120, 120, 120, 0.5)
}

.fill-untoggled:focus:not(:hover) {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}