<div>
  <div>
    <canvas id="tickerChart"></canvas>
  </div>

  <div class="btn-group btn-group-justified">
    <div class="btn-group" role="group">
      <a ng-click="updateTicker('1d')" class="btn btn-default toggle-group">1 day</a>
    </div>
    <div class="btn-group" role="group">
      <a ng-click="updateTicker('1w')" class="btn btn-default toggle-group">1 week</a>
    </div>
    <div class="btn-group" role="group">
      <a ng-click="updateTicker('1m')" class="btn btn-default toggle-group">1 month</a>
    </div>
    <div class="btn-group" role="group">
      <a ng-click="updateTicker('3m')" class="btn btn-default toggle-group">3 months</a>
    </div>
    <div class="btn-group" role="group">
      <a ng-click="updateTicker('1y')" class="btn btn-default toggle-group">1 year</a>
    </div>
    <div class="btn-group" role="group">
    </div>
    <div class="btn-group" role="group">
      <a ng-class="{ toggled: model.chartFill }" ng-click="toggleFilling()" class="btn btn-default">
        Toggle diff
      </a>
    </div>
  </div>
</div>