.ticker-box {
  text-align: center;
  background-color: #f6f6f6;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.ticker-box div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ticker-date {
  font-size: 11px;
}

.ticker-name {
  background: #eee;
  border-top: 1px solid #bbb;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: bold;
}

.ticker-price {
  font-size: 20px;
  letter-spacing: 2px;
}

.ticker-green {
  color: #093;
}

.ticker-red {
  color: #d14836;
}