.ticker-box {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  background-color: #f6f6f6;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0 0 2px gold;
  box-shadow: 0 0 2px gold;
  border-style: solid;
  overflow: hidden;
}

.ticker-name {
  background: #eee;
  border-top: 1px solid #bbb;
  font-size: 0.7em;
  letter-spacing: 3px;
  font-weight: bold;
}

.ticker-price {
  font-size: 20px;
  line-height: 24px;
  padding-top: 2px;
  letter-spacing: 1px;
  font-family: Courier, monospace;
  margin-bottom: 0px;
}

.ticker-green {
  background: rgb(160, 255, 160);
}

.ticker-red {
  background: rgb(206, 27, 27);
  color: rgb(255, 255, 255);
}

.ticker-date {
  font-size: 0.8em;
}

div.coinmarketcap-currency-widget {
  margin-top: 10px;
}

/* ----- asset ticker -------- */
div.coinmarketcap-currency-widget > div > div:nth-child(1) > div {
  padding: 3px 0 0 0 !important;
  line-height: 1.3em !important;
}

/* ----- asset image -------- */
div.coinmarketcap-currency-widget > div > div:nth-child(1) > div:nth-child(2) > img {
  padding-top: 10px;
  width: 25%;
  height: auto;
}

/* ----- market cap + 24h volume -------- */
div.coinmarketcap-currency-widget > div > div:nth-child(2) > div {
  font-size:0px !important;
  padding: 10px 0 5px 0 !important;
}

/* ----- powered by -------- */
div.coinmarketcap-currency-widget > div > div:nth-child(3) > a {
  display: none;
}