<div class="container ticker-box">
  <div class="row ticker-date">
    <div class="col">{{ model.created | date: 'dd/MM HH:mm' }}</div>
  </div>
  <div ng-repeat="ticker in model.tickers">
    <div class="row ticker-name">
      <div class="col">
        {{ ticker.name | uppercase }}
      </div>
    </div>
    <div class="row ticker-price">
      <div class="col ticker-red" ng-if="ticker.bid !== undefined">
        {{ ticker.bid | price: 0 }}
      </div>
      <div class="col ticker-green">
        {{ ticker.ask | price: 0 }}
      </div>
    </div>
  </div>
</div>