/* ================== ticker box =================== */
.ticker-box {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  background-color: #f6f6f6;
  border: 2px solid #E4E6EB;
  border-radius: 7px;
  overflow: hidden;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.ticker-name {
  background: #eee;
  border-top: 1px solid #bbb;
  font-size: 0.7em;
  letter-spacing: 3px;
  font-weight: bold;
}

.ticker-price {
  font-size: 20px;
  line-height: 24px;
  padding-top: 2px;
  letter-spacing: 3px;
  margin-bottom: 0px;
  background: #f6f6f6;
}

.ticker-green {
  color: #093;
}

.ticker-red {
  color: #d14836;
}

.ticker-date {
  font-size: 0.8em;
}

/* ================== markets box =================== */
div.markets-box {
  margin-top: 10px;
  border: 2px solid #E4E6EB;
  border-radius: 7px;
  overflow: hidden;
  background: #f6f6f6;
}

.markets-date {
  font-size: 0.8em;
  text-align: center;
}

table.table-condensed {
  margin-bottom: 0;
}

.market-trading, .market-name, .market-base {
  padding: 5px !important;
  text-align: left;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
}

.market-price {
  text-align: right;
  font-size: 1.2em;
  padding: 2px !important;
  letter-spacing: 3px;
}

/* ================== coin market cap widgets =================== */

div.coinmarketcap-currency-widget {
  margin-top: 10px;
  border-radius: 7px !important;
}

/* ----- asset ticker -------- */
div.coinmarketcap-currency-widget > div > div:nth-child(1) > div {
  padding: 3px 0 0 0 !important;
  line-height: 1.3em !important;
}

/* ----- asset image -------- */
div.coinmarketcap-currency-widget > div > div:nth-child(1) > div:nth-child(2) > img {
  padding-top: 10px;
  width: 25%;
  height: auto;
}

/* ----- market cap + 24h volume -------- */
div.coinmarketcap-currency-widget > div > div:nth-child(2) > div {
  font-size:0px !important;
  padding: 10px 0 5px 0 !important;
}

/* ----- powered by -------- */
div.coinmarketcap-currency-widget > div > div:nth-child(3) > a {
  display: none;
}