.period-selected[disabled], .period-selected[disabled]:hover,
.fill-toggled, .fill-toggled:focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
  opacity: 1;
  box-shadow: inset 0 2px 3px rgba(140, 140, 140, 0.5)
}