<div class="ticker-box">
  <div class="ticker-date">
    <span>{{ model.created | date: 'dd/MM HH:mm' }}</span>
  </div>
  <div ng-repeat="ticker in model.tickers">
    <div class="ticker-name">
      {{ ticker.name | uppercase }}
    </div>
    <span ng-if="ticker.bid === undefined" class="col-xs-12 ticker-price ticker-green">
      {{ ticker.ask| price: 0 }}
    </span>
    <div ng-if="ticker.bid !== undefined">
      <span class="col-xs-6 ticker-price ticker-red">{{ ticker.bid | price: 0 }}</span>
      <span class="col-xs-6 ticker-price ticker-green">{{ ticker.ask | price: 0 }}</span>
    </div>
  </div>
</div>
<script type="text/javascript" src="ticker/currency.js"></script>
<div class="coinmarketcap-currency-widget"
     data-currency="bitcoin" data-base="GBP" data-secondary="USD" data-ticker="true"
     data-rank="false" data-marketcap="true" data-volume="true"
     data-stats="USD" data-statsticker="false">
</div>
<div class="coinmarketcap-currency-widget"
     data-currency="ripple" data-base="GBP" data-secondary="BTC"
     data-ticker="true" data-rank="false" data-marketcap="true" data-volume="true"
     data-stats="USD" data-statsticker="false">
</div>
<div class="coinmarketcap-currency-widget"
     data-currency="ethereum" data-base="GBP" data-secondary="BTC"
     data-ticker="true" data-rank="false" data-marketcap="true" data-volume="true"
     data-stats="USD" data-statsticker="false">
</div>