<div class="table-responsive">
  <table class="table table-sm balance-table table-bordered table-hover">
    <thead>
      <tr>
        <th ng-hide="model.collapseTable">amount</th>
        <th ng-hide="model.collapseTable" colspan="2">investment</th>
        <th colspan="{{ model.collapseTable ? 1 : 2 }}" class="text-nowrap">
          <span>price  &nbsp;</span>
          <span ng-hide="model.collapseTable" class="xs-text">{{ model.pricesDate | date: 'dd/MM HH:mm' }}</span>
        </th>
        <th>asset</th>
        <th colspan="{{ model.collapseTable ? 1 : 3 }}">change</th>
        <th colspan="{{ model.collapseTable ? 1 : 2 }}">volume</th>
        <th ng-if="$ctrl.editable"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="model.balanceEntries.length === 0">
        <td colspan="12" class="center">No entries</td>
      </tr>
      <tr ng-repeat="entry in model.balanceEntries" ng-class="model.editEntryIndex === $index ? 'edit-row' : ''">
        <td ng-hide="model.collapseTable" class="left">{{ entry.amount }}</td>
        <td ng-hide="model.collapseTable" style="background: linear-gradient(to right, #dff0d8 {{entry.investmentBtcPct}}%, #ffffff {{entry.investmentBtcPct}}%);">
          {{ (entry.investmentBtc | number: 4) + (entry.investmentBtc ? '&nbsp;Ƀ': '') }}
        </td>
        <td ng-hide="model.collapseTable">
          {{ (entry.investmentGbp | number: 0) + (entry.investmentGbp ? '&nbsp;£': '') }}
        </td>
        <td ng-hide="model.collapseTable" class="left">{{ entry.price | number: entry.priceDigits }}</td>
        <td class="left">{{ entry.currentPrice | number: entry.priceDigits }}</td>
        <td ng-if="entry.link" class="left">
          <a href="{{ entry.link }}" class="asset-link" target="_blank">
            {{ entry.asset }}
          </a>
        </td>
        <td ng-if="!entry.link" class="left">{{ entry.asset }}</td>
        <td class="percentage-cell" style="{{entry.changePercentageStyle}}">
          {{ (entry.changePercentage | number: 1) + (entry.changePercentage ? '&nbsp;%': '') }}
        </td>
        <td ng-hide="model.collapseTable" ng-class="entry.changePercentage >= 0 ? 'positive-num' : 'negative-num'">
          {{ (entry.changeBtc | number: 4) + (entry.changeBtc ? '&nbsp;Ƀ': '') }}
        </td>
        <td ng-hide="model.collapseTable" ng-class="entry.changePercentage >= 0 ? 'positive-num' : 'negative-num'">
          {{ (entry.changeGbp | number: 0) + (entry.changeGbp ? '&nbsp;£': '') }}
        </td>
        <td>{{ (entry.volumeBtc | number: 4) + (entry.volumeBtc ? '&nbsp;Ƀ': '') }}</td>
        <td ng-hide="model.collapseTable">{{ (entry.volumeGbp | number: 0) + (entry.volumeGbp ? '&nbsp;£': '') }}</td>
        <td ng-if="$ctrl.editable" class="edit-cell">
          <button ng-click="setEditEntryIndex($index)" type="button" class="btn btn-light btn-sm edit-btn">
            ...
          </button>
        </td>
      </tr>
      <tr class="summaryLine" ng-if="model.sums">
        <td ng-hide="model.collapseTable"></td>
        <td ng-hide="model.collapseTable">{{ model.sums.investmentBtc | number: 4 }}&nbsp;Ƀ</td>
        <td ng-hide="model.collapseTable">{{ model.sums.investmentGbp | number: 0 }}&nbsp;£</td>
        <td colspan="{{ model.collapseTable ? 1 : 2 }}"></td>
        <td class="dominance-link">
          <a href="https://coinmarketcap.com/charts/#dominance-percentage" class="asset-link" target="_blank">
            BTCdom
          </a>
        </td>
        <td ng-class="model.sums.changePercentage >= 0 ? 'positive-num' : 'negative-num'">
          {{ model.sums.changePercentage | number: 1 }}&nbsp;%
        </td>
        <td ng-hide="model.collapseTable" ng-class="model.sums.changeBtc >= 0 ? 'positive-num' : 'negative-num'">
          {{ model.sums.changeBtc | number: 4 }}&nbsp;Ƀ
        </td>
        <td ng-hide="model.collapseTable" ng-class="model.sums.changeGbp >= 0 ? 'positive-num' : 'negative-num'">
          {{ model.sums.changeGbp | number: 0 }}&nbsp;£
        </td>
        <td>{{ model.sums.volumeBtc | number: 4 }}&nbsp;Ƀ</td>
        <td ng-hide="model.collapseTable">{{ model.sums.volumeGbp | number: 0 }}&nbsp;£</td>
        <td ng-if="$ctrl.editable"></td>
      </tr>
      <tr class="collapseToggle" ng-show="model.balanceEntries.length > 0 && model.showCollapseToggle">
        <td colspan="12">
          <button ng-click="toggleTableCollapse()" class="btn btn-success btn-lg btn-block">
            {{ model.expandOverwrite ? '&rarr; shrink columns &larr;' : '&larr; expand columns &rarr;' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-if="model.errorMessage" class="alert alert-danger" role="alert">
  {{ model.errorMessage }}
</div>

<form ng-if="$ctrl.editable" name="assetForm">
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="amount">Amount</label>
      <input id="amount" type="number" step="any" ng-model="inputs.amount" ng-change="refreshPriceInput()" class="form-control input-sm"
        placeholder="amount" required="required">
    </div>
    <div class="form-group  col-sm-4">
      <label for="investment">Investment</label>
      <input id="investment" type="number" step="any" ng-model="inputs.invest" ng-change="refreshPriceInput()" class="form-control input-sm"
        placeholder="investment">
    </div>
    <div class="form-group  col-sm-4">
      <label for="price">Price</label>
      <input id="price" type="number" step="any" ng-model="inputs.price" ng-change="refreshInvestInput()" class="form-control input-sm"
        placeholder="price" required="required">
    </div>
    <div class="form-group col-sm-4">
      <label for="asset">Asset</label>
      <select id="asset" class="form-control asset-selector" ng-model="inputs.asset" ng-init="loadAvailableSymbols()"
        required="required">
        <option ng-repeat="asset in model.availableAssets">{{ asset }}</option>
      </select>
    </div>
    <div class="form-group col-sm-5">
      <label for="link">Link</label>
      <input id="link" type="url" ng-model="inputs.link" class="form-control input-sm" placeholder="URL link">
    </div>
    <div class="form-group col-sm-1">
      <label>&nbsp;</label>
      <button ng-click="storeBalanceEntries()" ng-disabled="assetForm.$invalid" class="btn btn-success form-control input-sm">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      </button>
    </div>
    <div class="form-group col-sm-1">
      <label>&nbsp;</label>
      <button ng-disabled="assetForm.$invalid && model.editEntryIndex === ADD_MODE" ng-click="deleteEditAsset()"
        class="btn btn-danger form-control input-sm">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </div>
    <div class="form-group col-sm-1">
      <label>&nbsp;</label>
      <button ng-disabled="model.editEntryIndex === ADD_MODE" ng-click="resetAssetInputs()" class="btn btn-default form-control input-sm">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</form>