.balance-table > thead > tr > th {
  font-size: 0.9em;
  padding: 3px 5px;
  text-align: center;
}

.balance-table > tbody > tr > td {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1px 8px;
  text-align: right;
}

.balance-table td.percentage-cell {
  border-top: none;
  border-bottom: none;
}

.balance-table a.asset-link {
  display:inline-block;
  transform:scale(1.08,1);
  color: rgb(50, 50, 240);
}

.xs-text {
  font-size: 0.8em;
  font-weight: normal;
}

.balance-table td.left {
  text-align: left;
}

.balance-table td.center {
  text-align: center;
}

.balance-table td.edit-cell {
  width: 1%;
  padding: 1px;
}

.balance-table button.edit-btn {
  font-size: 8px;
}

.balance-table > tbody > tr.summaryLine > td {
  font-weight: bold;
  background-color: #dff0d8;
}

.positive-num {
  color: rgb(10, 170, 10);
}

.negative-num {
  color: rgb(230, 18, 18);
}

select.asset-selector {
  height: 30px;
  font-size: 12px;
}

form[name=assetForm] label {    
  font-size: 12px;
  margin-bottom: 2px;
}
