<div>
  <form class="col-xs-3">
    <p>Coinfloor</p>
    <div class="form-group">
      <label for="volume">Volume</label>
      <input ng-model="inputs.volume" class="form-control" id="volume" type="number" step="0.01" min="0" placeholder="Volume">
    </div>
    <div class="form-group">
      <label for="rate">Target rate</label>
      <input ng-model="inputs.targetRate" class="form-control" id="rate" type="number" step="1" min="0" placeholder="Target rate">
      <button type="button" class="btn btn-primary btn-xs" ng-click="updateTargetRate()">use current bid</button>
    </div>
    <div class="form-group">
      <label for="variant">Variant</label>
      <input ng-model="inputs.variant" class="form-control" id="variant" type="number" step="1" min="0" placeholder="variant">
    </div>
    <div class="form-group">
      <label for="distance">Distance</label>
      <input ng-model="inputs.distance" class="form-control" id="distance" type="number" step="0.001" min="0" placeholder="distance">
    </div>
  </form>
  <div class="col-xs-9">
    <table class="table table-striped table-hover table-small">
      <thead>
        <tr>
          <th>rate</th>
          <th>btc</th>
          <th>cost</th>
          <th>diff</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="result.diff <= 0.01 ? 'success': ''" ng-repeat="result in results">
          <td>{{ result.rate | number: 2 }}</td>
          <td>{{ result.buy }}</td>
          <td>{{ result.cost }}</td>
          <td>{{ result.diff }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>